<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nucleo icons v<%- version %></title>
	<link rel="stylesheet" href="styles/nucleo-icons.css">
	<style>
		body {
			padding: 20px 40px;
			margin: 0;
			font-family: Helvetica;
		}
		.Test-row {
			padding: 10px;
			margin-bottom: 5px;
			display: inline-block;
			text-align: center;
		}
		.Test-row i {
			font-size: 40px;
			color: #333;
			display: block;
		}
		.Test-row input {
			margin-top: 5px;
			padding: 3px 5px;
			border: 0;
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>Nucleo icons Outline v<%- version %></h1>
	<h2><%- _.size(iconsOutline) %> icons</h2>
	<br>
	<a href="index.html">Outline</a>
	<a href="glyph.html">Glyph</a>
	<a href="mini.html">Mini</a>
	<hr>
	<br>

	<div class="Test">
		<% _.forEach(iconsOutline, function(icon) { %>
		<div class="Test-row">
			<i class="<%- prefix %>o-<%- icon %>"></i>
			<input type="text" value="<%- prefix %>o-<%- icon %>">
		</div>
		<% }); %>
	</div>
</body>
</html>
