// base glyph icons mixin
@mixin nc-icon-glyph() {
	display: inline-block;
	font: normal normal normal #{$nucleo-font-size-base}/#{$nucleo-line-height-base} #{$nucleo-font-name-glyph};
	font-size: inherit;
	speak: none;
	text-rendering: auto;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// base outline icons mixin
@mixin nc-icon-outline() {
	display: inline-block;
	font: normal normal normal #{$nucleo-font-size-base}/#{$nucleo-line-height-base} #{$nucleo-font-name-outline};
	font-size: inherit;
	speak: none;
	text-rendering: auto;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// base mini icons mixin
@mixin nc-icon-mini() {
	display: inline-block;
	font: normal normal normal #{$nucleo-font-size-base}/#{$nucleo-line-height-base} #{$nucleo-font-name-mini};
	font-size: inherit;
	speak: none;
	text-rendering: auto;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// glyph mixin
@mixin ncg($icon) {
	@include nc-icon-glyph();

	&:before {
		content: map-get($nucleo-icons-glyph, $icon);
	}
}

// outline mixin
@mixin nco($icon) {
	@include nc-icon-outline();

	&:before {
		content: map-get($nucleo-icons-outline, $icon);
	}
}


// mini mixin
@mixin ncm($icon) {
	@include nc-icon-mini();

	&:before {
		content: map-get($nucleo-icons-mini, $icon);
	}
}
